.App {
  padding-top: 10px;
  background-color: rgb(161, 161, 239);
  margin: 20px auto;
  max-width: 80%;

  padding: 30px;
  border-radius: 30px;
}
.App h1 {
  text-align: center;
  letter-spacing: 5px;
  color: white;
  font: bold 45px Helvetica, Arial, Sans-Serif;
  text-shadow: 1px 1px #a690ef, 2px 2px #0f02fe, 3px 3px #000000;
}
.App footer {
  text-align: center;
}
