@media (max-width: 770px) {
  section {
    margin: 8px !important;
    padding: 15px !important;
  }
  section h2 {
    font-size: 15px !important;
  }
  input {
    width: 100px !important;
    height: 10px;
  }
  .Results h2 {
    font-size: 35px !important;
    margin-bottom: -20px !important;
  }
  audio {
    width: 120px !important;
    height: 20px !important;
  }
  p,
  li {
    font-size: 13px !important;
  }
}
.Dictionary section {
  background: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 30px;
  border-radius: 10px 50px;
}
.Dictionary h2 {
  text-align: center;
}
.Dictionary em {
  color: rgb(168, 168, 168);
}
.suggestion {
  font-size: 14px;
  text-align: center;
}
a {
  color: black;
}
.Dictionary input {
  width: 70%;
  display: block;
  margin: 0 auto;
  padding: 10px;
  border-color: rgb(235, 230, 230);
}
.Results h2,
.Phonetics {
  text-align: center;
}
.Phonetics {
  margin-top: -30px;
}
.Results h2 {
  font-size: 35px;
}
ul {
  list-style: none;
}
li {
  border: 1px solid rgb(186, 186, 186);
  border-radius: 30px;
  margin-left: 5px;
  padding: 10px;
  display: inline-block;
  color: rgb(106, 106, 106);
}
audio {
  margin-top: 10px;
  width: 150px;
}
